[submodule "bundle/defx.nvim"]
	path = bundle/defx.nvim
	url = https://github.com/Shougo/defx.nvim
[submodule "bundle/asynctasks.vim"]
	path = bundle/asynctasks.vim
	url = https://git::@github.com/skywind3000/asynctasks.vim.git
[submodule "bundle/denite-git"]
	path = bundle/denite-git
	url = https://git::@github.com/chemzqm/denite-git.git
[submodule "bundle/gina.vim"]
	path = bundle/gina.vim
	url = https://git::@github.com/lambdalisue/gina.vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://git::@github.com/morhetz/gruvbox.git
[submodule "bundle/gvimfullscreen"]
	path = bundle/gvimfullscreen
	url = https://github.com/archerc/gvimfullscreen.git
[submodule "bundle/indentpython.vim"]
	path = bundle/indentpython.vim
	url = https://git::@github.com/vim-scripts/indentpython.vim.git
[submodule "bundle/investigate.vim"]
	path = bundle/investigate.vim
	url = https://github.com/keith/investigate.vim
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://git::@github.com/Shougo/neosnippet-snippets.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule "bundle/unite-quickfix"]
	path = bundle/unite-quickfix
	url = https://git::@github.com/osyo-manga/unite-quickfix.git
[submodule "bundle/dein.vim"]
	path = bundle/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "bundle/vim-plug"]
	path = bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
